:root {
  /* root colors */
  --color-black: #121212;
  --color-grey: rgba(60, 60, 60, 0.29);
  --color-orange: #ef4723;
  --color-white: #ffffff;

  /* layout colors */
  --color-background: var(--color-white);
  --color-border: var(--color-grey);
  --color-border-hover: var(--color-black);

  /* button colors */
  --color-btn-primary: var(--color-orange);
  --color-btn-primary-label: var(--color-white);
  --color-btn-secondary: var(--color-white);
  --color-btn-secondary-border: var(--color-orange);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
